#biggerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1.5rem;
    margin: 1rem;
    height: 100%;
}

#bookyDetail {
    display: flex;
    justify-content: center;
}

#bookCoverImage {
    height: 13rem;
    border-radius: 5px;
    margin: 1rem;
}

.descriptionCategory {
    font-family: 'Balsamiq Sans', cursive;
    padding: 0.3rem;
    text-align: center;
}

#loadingCategories {
    font-family: 'Balsamiq Sans', cursive;
    padding: 5px;
    text-align: center;
}

#categoryTitle {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: left;
}