#itemDetailContainer {
    display: flex;    
    margin: 2rem;
}

.wholeContainer {
    height: 100%;
    margin: 3rem;
}

#abstractTitle {
    font-family: 'Balsamiq Sans', cursive;
    padding: 0.5rem;
}

#abstractText {
    font-family: 'Balsamiq Sans', cursive;
    padding: 0.5rem;
    text-align: justify;
}

#bookPart {
    padding: 0.5rem;
    margin: 1rem;
    justify-content: start;
}

#content {
    padding: 1rem;
    margin: 1rem;
}

#bookContainer {
    display: flex;
    justify-content: center;
}

#bookCover {
    height: 12rem;
    border-radius: 7%;
    margin: 0.5rem;
}

.details {
    font-family: 'Balsamiq Sans', cursive;
    padding: 0.3rem;
    text-align: center;
}