.wholeCart {
    height: 550px;
}

.titleContainer {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin: 30px;
    font-family: 'Balsamiq Sans', cursive;
}

.dataContainer {
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
    margin: 30px;
    font-family: 'Balsamiq Sans', cursive;
}

.emptyCart {
    padding: 5px;
    margin: 30px;
    font-family: 'Balsamiq Sans', cursive;
}

.cartText {
    padding: 5px;
}

.cartButton {
    border-radius: 5px;
    border: 1px solid rgb(22, 81, 117);
    background-color: rgb(22, 81, 117);
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    padding: 5px;
    margin: 10px;
}

.deleteButton {
    border-radius: 5px;
    border: 1px solid rgb(22, 81, 117);
    background-color: rgb(22, 81, 117);
    color: white;
    font-family: 'Balsamiq Sans', cursive;
}