#bestBookContainer {
    display: flex;    
    justify-content: center;
}

#recomendation {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    padding: 0.4rem;
    margin: 1.5rem;
}

#bookDetails {
    padding: 0.5rem;
    margin: 0.5rem;
}

#contentBook {
    padding: 0.5rem;
    margin: 0.5rem;
}

#photoContainer {
    display: flex;
    justify-content: center;
}

#bookCoverPhoto {
    height: 13rem;
    border-radius: 5%;
}

.information {
    font-family: 'Balsamiq Sans', cursive;
    padding: 0.3rem;
    text-align: center;
}