#aboutContainer {
    height: 30rem;
    margin: 1rem;
    padding: 2rem;
}

#library {
    height: 15rem;
    border-radius: 5%;
    margin: 0.5rem;
}

#two {
    padding: 0.5rem;
    text-align: justify;
    font-family: 'Balsamiq Sans', cursive;
}

#title {
    padding-bottom: 1rem;
}