#books {
    margin-top: 40px;
}

#itemList {
    font-family: 'Balsamiq Sans', cursive;
    padding: 5px;
    text-align: center;
}

#containerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    margin: 10px;
}

#portadaHome {
    height: 200px;
    border-radius: 5px;
    margin: 10px;
}

#home {
    display: flex;
    justify-content: center;
}

.homeDescription {
    font-family: 'Balsamiq Sans', cursive;
    padding: 5px;
    text-align: center;
}