.searchContainer {
    width: 100%;
}

#categoryDisplay {
    background-color: rgb(23, 52, 114);
    border-bottom:  rgb(20, 36, 71);
}

#categoryDisplay {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1rem;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding: 0.5rem;
}

.linkToCategory {
    text-decoration: none;
}

#categoryLink {
    color: rgb(52, 92, 179);
    font-family: 'Balsamiq Sans', cursive;
    border: 2px solid whitesmoke;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: white;
}

#categoryLink:hover {
    color: white;
    background-color: rgb(62, 99, 179);
}