footer {
    height: 30px;
    background-color: rgb(49, 148, 209);
    border-top: 1px solid rgb(22, 81, 117);
    margin: 0px;
    padding: 0px;
}

.cierre {
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    padding: 5px;
}