#container {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    align-items: center;
}

#secondContainer {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
}

.button {
    border-radius: 13%;
    border: 1px solid rgb(22, 81, 117);
    background-color: rgb(22, 81, 117);
    color: white;
    font-size: 17px;
    height: 1.7rem;
    width: 1.7rem;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}

#quantity {
    font-size: 18px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-family: 'Balsamiq Sans', cursive;
}

.toCart {
    font-family: 'Balsamiq Sans', cursive;
    padding: 0.5rem;
    border-radius: 7%;
    background-color: rgb(22, 81, 117);
    color: white;
    border-color: rgb(22, 81, 117);
}

.empty {
    display: flex;
    justify-content: center;
    font-family: 'Balsamiq Sans', cursive;
    padding: 0.5rem;
}

.button:hover {
    border: 1px solid  rgb(49, 148, 209);
    color:  white;
    background-color: rgb(75, 186, 255);
}

.toCart:hover {
    border: 2px solid  rgb(49, 148, 209);
    color:  white;
    background-color: rgb(75, 186, 255);
}